<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<%= form_with(url: search_projects_path, method: :get) do |f| %>
  <%= f.select7({:tags => [:id, :name]}, option_items: Tag.all) %>
  <%= f.submit %>
<% end %>


<div id="projects">
  <% @projects.each do |project| %>
    <%= link_to project.title, project %>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
