<div class="<%= css[:field_container] || 'select7-container' %>"
    data-controller="select7" 
    data-select7-scope-value="<%= scope %>"
    data-select7-field-value="<%= field %>"
    data-select7-value-attr-value="<%= value_attr %>"
    data-select7-text-attr-value="<%= text_attr %>"
    data-select7-input-name-value="<%= input_name %>"
    data-select7-multiple-value="<%= multiple %>"
    data-select7-nested-value="<%= nested_attributes.nil? %>"
    data-select7-suggest-value="<%= ActiveSupport::JSON.encode(suggest) %>" 
    data-select7-items-value="<%= ActiveSupport::JSON.encode(option_items) %>"
    data-select7-selected-items-value="<%= ActiveSupport::JSON.encode(selected_items) %>"
>
    
    <div data-select7-target="template" class="select7-hidden <%= css[:selected_item] || 'select7-selected-item' %>">
        <span class="<%= css[:selected_item_close] || 'select7-item-close' %>" data-action="click->select7#removeTag">×</span>
    </div>

    <div class="<%= css[:selection] || 'select7-selection' %>">
        <div data-select7-target="selected" class="<%= css[:selected_container] || 'select7-selected-container' %>">
            <% if multiple %>
                <% selected_items.each do |id, text, _| %>
                    <div class="<%= css[:selected_item] || 'select7-selected-item' %>"
                        <% if nested_attributes %>
                            data-remove-id=<%= "#{scope}[#{id}][_destroy]" %> 
                            data-remove-value="true"
                        <% end %>
                    >

                    <% if nested_attributes %>
                        <input type="hidden" name=<%= "#{scope}[#{item.id}][id]" %> value="<%= id %>">
                        <input type="hidden" name=<%= "#{scope}[#{item.id}][#{field}]" %> value="<%= id %>">
                    <% else %>
                        <input type="hidden" name="<%= input_name %>" value="<%= id %>">
                    <% end %>

                        <span class="<%= css[:selected_item_content] || 'select7-selected-item-content' %>"><%= text %></span>
                        <span class="<%= css[:selected_item_close] || 'select7-item-close' %>" data-action="click->select7#removeTag">x</span>
                    </div>
                <% end %>
            <% else %>
                <span class="<%= css[:selected_item_content] || 'select7-selected-item-content' %>"><%= selected_items.first %></span>
            <% end %>
        </div>
        <input data-select7-target="input" data-action="input->select7#debounceSuggest" class="<%= css[:input] || 'select7-input' %>" autocomplete="off" placeholder="<%= field %>">
    </div>
    <div data-select7-target="suggestion" class="select7-hidden <%= css[:suggestion] || 'select7-suggestion' %>">
    </div>
</div>