<div class="select7-container" 
    data-controller="select7" 
    data-select7-suggest-api-value="<%= suggest_path %>"
    data-select7-name-value="<%= multiple ? '[]' : '' %><%= "[#{name}]" %>"
    data-select7-multiple-value="<%= multiple %>"
    data-select7-items-value="<%= ActiveSupport::JSON.encode(option_tags) %>">
    
    <div data-select7-target="template" class="select7-selected-item select7-hidden">
        <span class="select7-item-close" data-action="click->select7#removeTag">x</span>
    </div>

    <div class="select7-selection">
        <div class="select7-selected" data-select7-target="selected"></div>
        <input data-select7-target="input" data-action="input->select7#suggest" class="select7-input" autocomplete="off">
    </div>
    <div data-select7-target="suggestion" class="select7-hidden select7-suggestion"></div>
</div>